@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5965b;
}

.navbar{
	border: 1px solid white;
}

.navbar {
    background-color: #F28C28 !important; /*"!important" is used for specifity, so it overrides conflicting rules */
}

.navbar .nav-link,
.navbar-brand {
    color: white !important;
    font-weight: bold;
}

.navbar .nav-link:hover {
    color: white !important; 
}

.navbar-brand:hover{
	color:white!important;
}

.dropdown-menu {
    background-color: #F5B15B; 
}

.dropdown-item {
    color: #333 !important;
}

.dropdown-item:hover {
    background-color: #F57B5B;
    color: white !important;
}

h1 {
    color: black; 
    text-align: center;
    margin-top: 30px;
}

h1{
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.placeholderImage1 {
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

.placeholderImage2 {
	width: 200px;
	height: 200px;
	border: 2px solid black;
}

.section1, .section2 {
    width: 90%;
    background-color: white;
    margin: 40px ;
    padding: 25px;
    border-radius: 10px;
    display: flex;
}

.section1 {
    flex-direction: row-reverse;
}

.section1 img {
    margin-left: 30px;  /*creating space between text and images*/
}

.section2 img {
    margin-right: 30px;  
}

.para1, .para2{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size:20px;
}


.navbar-nav > li {   /* Directing to the <li> tag placed inside the "navbar-nav" class*/
    position: relative; /* making the positon of the dropdown list relative to its heading bar. */
}

.navbar-nav > li > .dropdown-menu { /* Directing to the dropdown-menu class, which is placed inside the list tag, which in turn is 	placed in the navbar-nav class.*/
    top: 100%; /* Moves the dropdown list directly below its parent heading */
}

/*embedded code from google font*/

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}

/* // <weight>: Use a value from 100 to 900 */
/* // <uniquifier>: Use a unique and descriptive class name */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>; /*Use preferred*/
  font-style: normal;
}










